@model IEnumerable<Assignment2.Models.Player>

@{
    ViewData["Title"] = "Players";
}

<h1 class="MainHeadingForPages">Players</h1>

   @if (User.IsInRole("Administrator"))
                        { 
<p>
    <a class="Create" asp-action="Create">Create New</a>
</p>
                        }
<table class="table">
    <thead>                     
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teams)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teams.TeamName)
            </td>
               @if (User.IsInRole("Administrator"))
                        { 
            <td>
                <a class="Edits" asp-action="Edit" asp-route-id="@item.PlayerId">Edit</a> |
                <a class="Edits" asp-action="Details" asp-route-id="@item.PlayerId">Details</a> |
                <a class="Edits" asp-action="Delete" asp-route-id="@item.PlayerId">Delete</a>
            </td>
                        }
        </tr>
}
    </tbody>
</table>
